body{
    background-position: center;
    background-size: cover;
}
.link{
    background: rgb(232, 120, 120);
    border-radius: 10px;
    width: 250px;
    margin-top: 15px;
    font-size: medium;
}

.link:hover{
    font-size: large;
}